services:
  api-server:
    build:
      context: ./api-server
    image: chatapp/api-server:${VERSION_TAG}
    environment:
      - DB_URL=${DB_URL}
      - SECRET_KEY=${SECRET_KEY}
      - SECRET_REFRESH_KEY=${SECRET_REFRESH_KEY}
    container_name: api-server
    ports:
      - "3000:3000"
    restart: always

  chat-server:
    build:
      context: ./chat-server
    image: chatapp/chat-server:${VERSION_TAG}
    environment:
      - SECRET_KEY=${SECRET_KEY}
    container_name: chat-server
    ports:
      - "3001:3001"
    restart: always

  client:
    build:
      context: ./client
    image: chatapp/client:${VERSION_TAG}
    container_name: client
    ports:
      - "5173:80"
    restart: always
 
