services:
  api-server:
    build:
      context: ./api-server
    image: ${FULL_IMAGE}/api-server:${VERSION_TAG}
    environment:
      - DB_URL=${DB_URL}
      - SECRET_KEY=${SECRET_KEY}
      - SECRET_REFRESH_KEY=${SECRET_REFRESH_KEY}
    container_name: api-server
    restart: always

  chat-server:
    build:
      context: ./chat-server
    image: ${FULL_IMAGE}/chat-server:${VERSION_TAG}
    environment:
      - SECRET_KEY=${SECRET_KEY}
    container_name: chat-server
    restart: always

  client:
    build:
      context: ./client
    image: ${FULL_IMAGE}/client:${VERSION_TAG}
    container_name: client
    depends_on:
      - api-server
      - chat-server
    restart: always
