name: CI/CD ChatApp

on:
  push:
    branches: [main]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      content: read
      packages: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Login to GHCR
        run: echo "${{secrets.GITHUB_TOKEN}}" | docker login ghcr.io -u ${{github.actor}} --password-stdin
      
      - name: Build and Tag Image
        run: |
          export APP_TAG=${{github.sha}}
          VERSION_TAG=$APP_TAG docker compose build --parallel

      - name: Push Image
        run: |
          export APP_TAG=${{github.sha}}

          docker push chatapp/api-server:$APP_TAG
          docker tag chatapp/api-server:$APP_TAG chatapp/api-server:latest
          docker push chatapp/api-server:latest

          docker push chatapp/chat-server:$APP_TAG
          docker tag chatapp/chat-server:$APP_TAG chatapp/chat-server:latest
          docker push chatapp/chat-server:latest

          docker push chatapp/client:$APP_TAG
          docker tag chatapp/client:$APP_TAG chatapp/client:latest
          docker push chatapp/client:latest
  
  deploy:
    name: Deploy to server
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: ${{ secrets.SERVER_SSH_PORT }}
          script: |
            cd ${{ secrets.SERVER_PATH }}
            echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
            docker compose pull
            docker compose up -d --remove-orphans
            docker image prune -f
